.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

.btn:hover, .input-text:hover {
  background-color: #45a049;
}

.input-text {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4caf50;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;

}
.input-text::placeholder {
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}

.button-container {
  width: 20%;
}

.btn-home {
  width: 100%;
}

.registration-button {
al}